#playing-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.card{
  display: flex;
  justify-content: space-between;
  height: 300px;
  width: 200px;

}
.left {
  align-self: flex-start;
}
.middle {
  align-self: center;
  display: flex;
  flex-direction: column;
}
.right {
  align-self: flex-end;
}
